body {
    margin: 0% 10% 0% 10%;
}

#header h1 {
    color:rgb(0, 0, 0);
    text-align: center;
}

header {
    background: linear-gradient(45deg,#e66465, #9198e5);
    height: 50%;
}

#cool-image {
    width: 90%;
    height: auto;
    overflow: auto;
    margin: 5%;
}

#navbar {
    background-color: black;
    overflow: hidden;
}

#navbar a {
    float: left;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
}

#navbar a:hover {
    background-color: rgb(170, 170, 170);
    color: black;
}

